@model mercado.nu.Models.ViewModels.ShowQuestionComparisonVm


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1> Uppdelning av svar för frågor</h1>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>



</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <table class="table">
                
                <thead>
                    <tr>
                        <th></th>
                        @foreach (var horizontal in Model.HeadingsHorizontal)
                        {
                            <th>@horizontal</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.HeadingsVertical.Length; i++)
                    {
                        <tr>
                            <th>@Model.HeadingsVertical[i]</th>
                            @foreach (var data in Model.DataArrayForComparison[i])
                            {
                                <td>@data</td>
                            }
                        </tr>
                    }
                 </tbody>
             </table>
        </div>
        
    </div>



</div>
<div class="container">
    <div class="row">
        <div class="col">
            <canvas></canvas>
        </div>
        <div class="col">
            <canvas></canvas>
        </div>
    </div>



</div>






