@page
@model ChooseIfHaveCompanyOrNotModel

    <br />
    <br />
    <p>
        <a asp-area="Identity" asp-page="/Account/RegisterCompanyUser" class="btn btn-default">JAG TILLHÖR ETT FÖRETAG</a>
    </p>
    <p>
        <a asp-area="Identity" asp-page="/Account/RegisterCompanyUserWithoutCompany" class="btn btn-default">JAG BEHÖVER REGGA ETT NYTT FÖRETAG</a>
    </p>


