@using Microsoft.AspNetCore.Identity
@using mercado.nu.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                    <span style="font-size: 1.7em" class="fas fa-cog fa-2x"></span>
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logga ut</button>
            </li>
        </ul>
    </form>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registera dig</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Logga in</a></li>
    </ul>*@
}
