@using Microsoft.AspNetCore.Identity
@using mercado.nu.Models
@using mercado.nu.Models.Entities
@using System.Security.Claims;


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager


@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser user = await UserManager.GetUserAsync(User);

    if (await UserManager.IsInRoleAsync(user, "CompanyUser") || await UserManager.IsInRoleAsync(user, "SuperCompanyUser"))
    {
        <li><a asp-controller="Organizations" asp-action="Index">För företag</a></li>
        <li><a asp-area="" asp-controller="MarketResearches" asp-action="Index">Marknadsundersökningar</a></li>
        <li><a asp-area="" asp-controller="Questions" asp-action="Index">Frågor?</a></li>
    }

    if (await UserManager.IsInRoleAsync(user, "User"))
    {
        <li><a asp-area="" asp-controller="MarketResearches" asp-action="MarketResearchForPerson">Undersökningar för inloggad</a></li>
    }


}
else
{

}



