@model mercado.nu.Models.ViewModels.AddQuestionToMarketResearchVm
@using mercado.nu.Models.Entities


<h2>"Slutför frågan"</h2>

<hr />
<div class="row">
   

            <form asp-action="UpdateType">

                <input type="hidden" asp-for="CurrentMarketResearchId" />
                <input type="hidden" asp-for="Question.ChaptersId" />
                <input type="hidden" asp-for="Chapters" />
                <input type="hidden" asp-for="Question.ActualQuestion" />
                <input type="hidden" asp-for="QuestionTypes" />
                <input type="hidden" asp-for="Question.QuestionId" />
                <input type="hidden" asp-for="Question.QuestionNumber" />
                <input type="hidden" asp-for="GradeChoices" />
                <input type="hidden" asp-for="BinaryChoice" />



                @switch (Model.QuestionTypes[0].ToString())
                {
                    case "Graderingsfråga":
                        {
                            <div class="form-group">
                                <div>
                                    <label asp-for="HighGrade" class="control-label"></label>
                                    <input asp-for="HighGrade" class="form-control" />
                                    @*  <span asp-validation-for="QU.ActualQuestion" class="text-danger"></span>*@

                                </div>
                                <div>
                                    <label asp-for="TypeChoice" class="control-label"></label>
                                    <select asp-for="TypeChoice" class="form-control" asp-items="Model.GradeChoices"></select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Lägg till" class="btn btn-default" />
                                </div>
                            </div>
                            break;
                        }
                    case "Binärfråga":
                        {
                            <div>
                                <label asp-for="BinChoice" class="control-label"></label>
                                <select asp-for="TypeChoice" class="form-control" asp-items="Model.BinaryChoice"></select>
                                <div class="form-group">
                                    <input type="submit" value="Lägg till" class="btn btn-default" />
                                </div>
                            </div>
                            break;
                        }
                    case "Flervalsfråga":
                        {
                            ViewData["Title"] = "Tillagda svarsalternativ";
                            var x = (List<string>)ViewData["listOfAlternatives"];
                            if (x != null)
                            {
                                <h3>@ViewData["Title"]</h3>
                                <p>@x.Count</p>
                                foreach (var item in x)
                                {
                                    <p>@item</p>
                                }
                            }

                            <div>
                                <label asp-for="Alternative" class="control-label"></label>
                                <input asp-for="Alternative" class="form-control" />
                                <div class="form-group">
                                    <input type="submit" asp-action="UpdateType" asp-route-buttonstate="false" value="Lägg till" class="btn btn-default" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" asp-action="UpdateType" asp-route-buttonstate="true" value="Klar" class="btn btn-default" />
                                </div>

                            </div>
                            break;
                        }
                    case "Textfråga":
                        {
                            <div>
                                <h2>@Model.Question.ActualQuestion </h2>
                                <div class="form-group">
                                    <input type="submit" asp-action="CreateQuestionType" value="Lägg till frågan" class="btn btn-default" />
                                </div>
                            </div>
                            break;
                        }
                    default:
                        break;

                }


            </form>
        }
    </div>

