@model mercado.nu.Models.ViewModels.SearchFunctionVm


@if (Model == null)
{
    <h5>Ingen sökträff</h5>
}

@if (Model?.Organizations == null)
{
}
else
{
    @foreach (var item in Model.Organizations)
    {
        <p>@item.Name</p>
    }
}


@if (Model?.MarketResearches == null)
{
}
else
{
    @foreach (var item in Model.MarketResearches)
    {
        <p>@item.Name</p>
    }
}


@if (Model?.Questions == null)
{
}
else
{
    @foreach (var item in Model.Questions)
    {
        <p>@item.ActualQuestion</p>
    }
}


<a asp-controller="MarketResearches" class="btn btn-primary" asp-action="SearchFor">Gå tillbaka</a>

