@using Microsoft.AspNetCore.Identity
@using mercado.nu.Models
@using mercado.nu.Models.Entities
@using System.Security.Claims;


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager


@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser user = await UserManager.GetUserAsync(User);

    if (await UserManager.IsInRoleAsync(user, "CompanyUser") || await UserManager.IsInRoleAsync(user, "SuperCompanyUser"))
    {

        <div class="row">
            <div class="col-md-4">
                <div class="card card-image" style="background-image: url(Content/research.png);">

                    <!-- Content -->
                    <div class="text-black text-center align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Skapa</h5>
                            <h3 class="card-title pt-2"><strong>Skapa undersökning</strong></h3>
                            <p>
                                Ta första steget mot att få reda på vad folk tycker genom att skapa en undersökning.
                            </p>
                            <a asp-controller="MarketResearches" asp-action="Create" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Skapa undersökning</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 offset-md-4">
                <div class="card card-image navcard" style="background-image: url(Content/open-book.png);">

                    <!-- Content -->
                    <div class="text-black text-center align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="white-text"><i class="fas fa-chart-chart"></i> Pågående</h5>
                            <h3 class="card-title pt-2"><strong>Pågående undersökningar</strong></h3>
                            <p>
                                Ta en kik på vilka undersökningar ni har igång just nu.
                            </p>
                            <p>sss</p>
                            <a asp-controller="MarketResearches" asp-action="GetMarketResearchesWithStatusOngoing" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Skapa undersökning</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 offset-md-3">
                <div class="card card-image navcard" style="background-image: url(Content/open-book.png);">
                    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Genomförda undersökningar</h5>
                            <h3 class="card-title pt-2"><strong>Genomförda undersökningar</strong></h3>
                            <p>
                                Se era redan genomförda undersökningar och ta del av sammanstälningar av resultaten.
                            </p>
                            <a asp-controller="MarketResearches" asp-action="GetMarketResearchesWithStatusOld" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Skapa undersökning</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-image" style="background-image: url(Content/open-book.png);">

                    <!-- Content -->
                    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Ert företag</h5>
                            <h3 class="card-title pt-2"><strong>Ert företag</strong></h3>
                            <p>
                                Ert företag. Här finns grejer.
                            </p>
                            <a asp-controller="Organizations" asp-action="Index" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Skapa undersökning</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-image" style="background-image: url(Content/open-book.png);">
                    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Ert företag</h5>
                            <h3 class="card-title pt-2"><strong>Ert företag</strong></h3>
                            <p>
                                Ert företag. Här finns grejer.
                            </p>
                            <a asp-controller="Organizations" asp-action="Index" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Skapa undersökning</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />





    }

    if (await UserManager.IsInRoleAsync(user, "User"))
    {

        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4 ml-auto">
                <div class="card card-image" style="background-image: url(Content/open-book.png);">
                    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Ert företag</h5>
                            <h3 class="card-title pt-2"><strong>Ert företag</strong></h3>
                            <p>
                                Ert företag. Här finns grejer.
                            </p>
                            <a asp-controller="MarketResearches" asp-action="MarketResearchForPerson" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i>Mina marknadsundersöknningar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ml-md-auto">
                <div class="card card-image" style="background-image: url(Content/open-book.png);">
                    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Redan gjorda</h5>
                            <h3 class="card-title pt-2"><strong>Redan gjorda</strong></h3>
                            <p>
                                Se dina redan gjorda marknadsundersökningar din filidutt.   
                            </p>
                            <a asp-controller="MarketResearches" asp-action="MarketResearchForPerson" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i>Mina tidigare undersökningar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto">
                <div class="card card-image" style="background-image: url(Content/research.png);">

                    <!-- Content -->
                    <div class="text-black text-center align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-chart"></i> Alla</h5>
                            <h3 class="card-title pt-2"><strong>Alla  undersökningar</strong></h3>
                            <p>
                               Alla jävla undersökningar
                            </p>
                            <a asp-controller="MarketResearches" asp-action="Create" class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Alla undersökningar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">.col-auto</div>
        </div>
        <br />
        <br />
        <br />

        <div class="row text-center">
            <div class="col-lg-6">
                <a asp-controller="MarketResearches" asp-action="MarketResearchForPerson" class="btn btn-default" style="height: 250px; width: 350px; padding: 150px 12px; font-size: 22px ">Tillgängliga undersökningar för mig</a>
            </div>
            <div class="col-lg-6">
                <a class="btn btn-default" style="height: 250px; width: 350px; padding: 150px 12px; font-size: 22px ">Mina tidigare undersökningar</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="text-center">
            <a class="btn btn-default" style="height: 200px; width: 200px; padding: 150px 12px; font-size: 22px ">Alla undersökningar</a>
        </div>
    }

}
else
{
    <br />
    <br />
    <br />

    <div class="row text-center">
        <div class="col-lg-6">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-default" style="height: 250px; width: 350px; padding: 150px 12px; font-size: 22px ">Logga in</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-default" style="height: 250px; width: 350px; padding: 150px 12px; font-size: 22px ">Registrera dig</a>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row text-center">
        <div class="col-lg-4">
            <a asp-controller="About" asp-action="InfoMarketresearches" class="btn btn-default" style="height: 200px; width: 200px; padding: 150px 12px; font-size: 22px ">Varför MercaDo?</a>
        </div>
        <div class="col-lg-4">
            <a asp-controller="About" asp-action="Index" class="btn btn-default" style="height: 200px; width: 200px; padding: 150px 12px; font-size: 22px ">Om oss</a>
        </div>
        <div class="col-lg-4">
            <a asp-area="Identity" asp-page="/Account/ChooseIfHaveCompanyOrNot" class="btn btn-default" style="height: 200px; width: 200px; padding: 150px 12px; font-size: 22px ">Företagsanvändare</a>
        </div>
    </div>
}

