@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-9">
        <p>Ditt konto innehåller personlig data som du har givit oss. Den här sidan tillåter dig att ta bort eller ladda ner den data.</p>
        <p>
            <strong>Genom att ta bort den här data kommer ditt konto att tas bort permanent, och det kan inte återställas.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Ladda ner</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-primary">Ta bort</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}