/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
<<<<<<< HEAD
    background-image: url(../Content/background7.jpg)
=======
    /*background-color: #FFFDF5;*/
    background-image: url('../content/pexels-photo.png');
>>>>>>> 482601a7252f1c09019bbc0bf4a550b0c7a91034
}

/*Denna är kopplad till all text*/
* {
    font-family: Asap;
}

/*Detta definierar bakgrundsfärgen på navbaren*/
.navbar {
    background-color: #32E884;
}

/*Padding för loggan*/
.navbar-brand {
    padding: 5px 16px;
}


/*De föremål i navbaren som är <a> */
.nav.navbar-nav li a {
    color: black;
    font-size: 1.2em;
}

/*De föremål i navbaren som är <button> */
.nav.navbar-nav li button {
    color: black;
    font-size: 1.2em;
    padding: 4px 0px;
}

/*Styling för en knapp med <a class="btn"> */
.btn {
    background-color: #32E884;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Dessa gör att sidan tar upp 100% och att footern därför stannar längst ner*/
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*Dessa gör att sidan tar upp 100% och att footern därför stannar längst ner*/
.Site-content {
    flex: 1;
}

/*Sätter färg på footern*/
.footer-copyright {
    background-color: #403F3E;
    color: white;
}

.page-footer {
    background-color: #BFBEB9;
}


