<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">MercaDo</h5>
        <h6 class="card-subtitle mb-2 text-muted">Examensarbete på  Academy i C#</h6>
        <p class="card-text">
            Efter tolv veckors intensivt studerande avslutas utbildningen på <strong>ACADEMY</strong> med ett två veckors examensarbete.
            Det här examensarbetet är en web app för att genomföra marknadsundersökningar. Undersökningarna är "Open-source".
            Det vill säga alla som vill ta del av undesökningarna kan göra det. Ett viktigt inslag i utbildningen har varit att
            hjälpa sina medstudenter och dela med sig av kunskap, <strong>KARMA</strong> är viktigt. Givetvis kommer det vara avgiftsfritt att
            använda MercaDo för alltid. Mercado finds the <strong>MISSING PIECE</strong> for YOU!!
        </p>

        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-rounded"><i class="fas fa-clone left"></i>Registrera dig</a>
    </div>
</div>
